.homeCon_background{
  width: 100%;
  height: 110vh;
  padding-bottom: 33rem;
  display: flex;
  justify-content: center;
}
.homeSection_Container {
  height: 35rem;
  margin: 2rem 5rem;
  padding: 2rem 3rem;
  letter-spacing: 0.09rem;
  border-radius: 0.7rem;
  font-family: "Kalam";
  border-left: 0.3rem solid #606e43;
  border-right: 0.3rem solid #606e43;
  display: flex;
}
.myReview {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #365e5e;
}
.listOfReview {
  letter-spacing: 0;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.name {
  color: #551901;
  font-size: 1.5rem;
  display: flex;
  margin-bottom: 2rem;
}
.handIcon {
  color: #606e43;
  margin-right: 1.5rem;
  width: 3rem;
}
.rocketIcon, .starIcon, .literIcon   {
  color: #606e43;
  margin-right: 0.7rem;
  width: 1.9rem;
}
.name span {
  color: #0f0f61;
  opacity: 1;
  font-size: 1.5rem;
  margin-left: 0.7rem;
}
.img_container {
  width: 30%;
  height: 32rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}
.img_container img {
  width: 80%;
  margin-left: 3rem;
  height: 85%;
  border-radius: 6.8rem;
  box-shadow: 0.3rem 0.3rem 6.5rem 1.25rem rgb(163, 159, 164);
  opacity: 0.8;
}
.btnContainer {
  display: flex;
}
.downloadBtn {
  width: 11rem;
  height: 3rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 0.4rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0rem 0rem 0.09rem 0rem rgb(79, 72, 72);
  background: transparent;
  color: #606e43;
  font-family: "Kaushan Script";
}
.downloadBtn:hover {
  text-decoration: underline;
  box-shadow: 0rem 0rem 0.4rem 0rem rgb(79, 72, 72);
  background: transparent;
  cursor: pointer;
}
.downloadBtn a {
  height: 100%;
  color: #606e43;
  font-family: "Kaushan Script";
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  display: flex;
  text-align: center;
}
.downloadBtn span {
  font-size: 1.2rem;
  color: rgb(161, 138, 10);
  margin-left: 0.5rem;
}
.projBtn {
  width: 11rem;
  height: 3rem;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.4rem;
  letter-spacing: 0.2rem;
  margin-left: 2rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0rem 0rem 0.09rem 0rem rgb(79, 72, 72);
  background: transparent;
  color: #606e43;
  font-family: "Kaushan Script";
}
.projBtn:hover {
  text-decoration: underline;
  box-shadow: 0rem 0rem 0.4rem 0rem rgb(79, 72, 72);
  background: transparent;
  cursor: pointer;
}
.projBtn span {
  font-size: 1.2rem;
  color: rgb(161, 138, 10);
  margin-left: 0.5rem;
}
@media screen and (max-width: 1280px) {
  .homeSection_Container {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .name{
    font-size: 1.4rem;
  }
  .name span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1100px) {
  .homeSection_Container {
    margin: 2rem 2.5rem;
  }
  .listOfReview{
    font-size: 1.15rem;
  }
  .img_container img {
    height: 75%;
  }
}
@media screen and (max-width: 1000px) {
  .homeSection_Container {
    margin: 2rem 2rem;
  }
}
@media screen and (max-width: 920px) {
  .homeSection_Container {
    margin: 2rem 1rem;
  }
  .img_container img {
    height: 65%;
    width: 85%;
  }
}
@media screen and (max-width: 850px) {
  .img_container img {
    height: 60%;
    width: 90%;
  }
}
@media screen and (max-width: 772px) {
  .myReview {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .img_container {
   display: none;
  }
}
@media screen and (max-width: 650px) {
  .homeCon_background{
    height: 120vh;
  }
  .homeSection_Container {
    height: 40rem;
  }
}
@media screen and (max-width: 500px) {
  .name{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
  }
  .name span {
    font-size: 1.2rem;
  }
  .listOfReview{
    font-size: 1.05rem;
  }
  .downloadBtn {
    width: 9rem;
    height: 2.5rem;
  }
  .downloadBtn a {
    font-size: 0.85rem;
  }
  .downloadBtn span {
    font-size: 0.85rem;
  }
  .projBtn {
    width: 9rem;
    height: 2.5rem;
    font-size: 0.85rem;
    margin-left: 3rem;
  }
  .projBtn span{
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 420px) {
  .homeSection_Container {
    padding: 0.5rem 0.5rem;  
  }
}
@media screen and (max-width: 420px) {
  .homeCon_background{
    height: 130vh;
  }
  .homeSection_Container {
    padding: 0.5rem 0.5rem;  
    max-width: 92%;
    height: 42rem;
  }
  .projBtn {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .homeCon_background{
    height: 110vh;
  }
  .homeSection_Container {
    padding: 0.8rem 0.8rem;  
    margin: 0.5rem 0.5rem;
    height: 28rem;
  }
  .listOfReview {
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
  }
  .myReview{
    justify-content: flex-start;
  }
  .name {
    font-size: 0.95rem;
    margin-bottom: 0.9rem;
    letter-spacing: 0;
  }
  .name span {
    font-size: 0.95rem;
  }
  .handIcon {
    margin-top: 0.3rem;
  }
  .downloadBtn {
    width: 7rem;
    height: 2rem;
  }
  .downloadBtn a {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .downloadBtn span {
    font-size: 0.7rem;
  }
  .projBtn {
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
    margin-left: 1rem;
  }
  .projBtn span{
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 365px) {
  .homeSection_Container {
    height: 30rem;
  }
}
@media screen and (max-width: 310px) {
  .homeSection_Container {
    height: 32rem;
  }
}
@media screen and (max-width: 300px) {
  .homeSection_Container {
    height: 35rem;
  }
}
@media screen and (max-width: 290px) {
  .homeSection_Container {
    padding: 1rem 0.3rem;  
    height: 25rem;
  }
  .listOfReview {
    font-size: 0.7rem;
    margin-bottom: 0.7rem;
    letter-spacing: 0rem;
  }
  .myReview{
    justify-content: flex-start;
  }
  .name {
    font-size: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .name span {
    font-size: 0.75rem;
  }
  .downloadBtn {
    width: 5rem;
    height: 1.5rem;
  }
  .downloadBtn a {
    font-size: 0.5rem;
  }
  .downloadBtn span {
    font-size: 0.5rem;
    margin-left: 0.2rem;
  }
  .projBtn {
    width: 5rem;
    height: 1.5rem;
    font-size: 0.5rem;
    margin-left: 1rem;
  }
  .projBtn span{
    font-size: 0.5rem;
  }
}
