.main_container{
  width: 100%;
  height: auto;
  background-color: #e8ffdc;
  padding-bottom: 5%;
}
.project_header{
  width: 100%;
  height: 10%;
  background-color: #606e43;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #e8ffdc;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-family: 'Kaushan Script';
  position: sticky;
  top: 0.5%;
  opacity: 0.9;
  z-index: 11;
  cursor: pointer;
}
.hd_left{
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
}
.active {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  background-color: #e8ffdc;
  color: #606e43;
  padding: 0.5rem;
  cursor: pointer;
}
.hovActive{
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.hovActive:hover {
  background-color: #e8ffdc;
  color: #606e43;
  height: 100%;
}
.print_icons{
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  color: #e8ffdc;
  cursor: pointer;
}
.print_icons:hover{
  width: 2.3rem;
  height:2.3rem;
  margin-right: 0.9rem;
  color: #533a3a;
}
.navigationBar{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.hd_right{
  justify-content: end;
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
}
.hd_right a{
  display: flex;
}
.hd_right .git{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #e8ffdc;
}
.hd_right .linkd{
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
  cursor: pointer;
  color: #e8ffdc;
}
.hd_right .git:hover {
  width: 2rem;
  height: 2rem;
  color: #211F1F;
}
.hd_right .linkd:hover {
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
  color: #0A66C2;
}

/** alart */

.accdntical_Alart{
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  color: #8B0000;
  font-size: 1rem;
  font-family: 'Kalam';
  font-weight: bold;
  opacity: 1;
}
.hidden_Alart {
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  color: #8B0000;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Kalam';
  opacity: 0;
}
/** footer */
.footer_container {
  width: 100%;
  height: 6%;
  background: #606e43;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.logos_container {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  display: flex; 
}
.social-icons {
  display: flex;
  align-items: center;
  padding-top: 0.2rem;
  height: 100%;
}
.logo .reactIcon, .twitIcon, .instIcon{
  color: #e8ffdc;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.reactIcon:hover{
  color: #1DA1F2;
  cursor: pointer;
}
.twitIcon:hover{
  color: #1DA1F2;
}
.instIcon:hover{
  color: #E4405F;
}
.legal-info {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricacyLegend{
  display: flex;
}
.legal-info div {
  width: 70%;
  display: block;
  font-size: 0.6rem;
}
.legal-info a:hover {
  color: black;
}
@media screen and (max-width: 1280px) { 
  .logo .reactIcon, .twitIcon, .instIcon{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
.legal-info {
    width: 17%;
  }
}
@media screen and (max-width: 1024px) { 
.legal-info {
    width: 20%;
  }
}
@media screen and (max-width: 860px) { 
.legal-info {
    width: 25%;
  }
}
@media screen and (max-width: 768px) { 
  .project_header{
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .hd_left, .hd_right{
    width: 20%;
  }
  .footer_container {
    height: 2.5rem;
    padding-left: 3rem;
  }
  .legal-info {
    width: 30%;
    align-items: center;
  }
}
@media screen and (max-width: 600px) { 
  .project_header{
    height: 2rem;
    font-size: 1rem;
  }
  .hd_left, .hd_right{
    width: 20%;
  }
  .print_icons{
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
  }
  .print_icons:hover{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.4rem;
  }
  .hd_right .git{
    width: 1.6em;
    height: 1.5rem;
  }
  .hd_right .linkd{
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 1rem;
  }
  .hd_right .git:hover {
    width: 1.65rem;
    height: 1.65rem;
  }
  .hd_right .linkd:hover {
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.9rem;
  }
  .footer_container {
    height: 2rem;
    padding-left: 2rem;
  }
  .logo .reactIcon, .twitIcon, .instIcon{
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.7rem;
  }
  .legal-info div {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 510px) { 
  .legal-info {
    width: 32%;
  }
}
@media screen and (max-width: 465px) { 
  .project_header{
    height: 1.5rem;
    font-size: 0.8rem;
  }
  .print_icons{
    width: 1.1rem;
    height: 1.1rem;
  }
  .print_icons:hover{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
  }
  .hd_right .git{
    width: 1.1rem;
    height: 1.1rem;
  }
  .hd_right .linkd{
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.5rem;
  }
  .hd_right .git:hover {
    width: 1.15rem;
    height: 1.15rem;
  }
  .hd_right .linkd:hover {
    width: 1.15rem;
    height: 1.15rem;
    margin-left: 0.45rem;
  }
  .footer_container {
    height: 1.5rem;
    padding-left: 1.5rem;
  }
  .logo .reactIcon, .twitIcon, .instIcon{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.6rem;
  }
  .legal-info {
    width: 35%;
  }
  .legal-info div {
    font-size: 0.43rem;
  }
}
@media screen and (max-width: 360px) { 
  .project_header{
    font-size: 0.7rem;
  }
  .active{
    padding: 0.3rem;
  }
  .hovActive{
    padding: 0.3rem;
  }
  .print_icons{
    width: 1rem;
    height: 1rem;
  }
  .print_icons:hover{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.15rem;
  }
  .footer_container {
    padding-left: 1rem;
  }
  .logo .reactIcon, .twitIcon, .instIcon{
    margin-right: 0.4rem;
  }
  .legal-info {
    width: 37%;
  }
  .legal-info div {
    font-size: 0.3rem;
    text-transform: lowercase;
    padding-left: 1.5rem;
  } 
}
@media screen and (max-width: 320px) {
  .active{
    padding: 0.2rem;
  }
  .hovActive{
    padding: 0.2rem;
  }
  .print_icons{
    width: 0.9rem;
    height: 0.9rem;
  }
  .print_icons:hover{
    width: 0.95rem;
    height: 0.95rem;
  }
  .hd_right .git{
    width: 0.9rem;
    height: 0.9rem;
  }
  .hd_right .linkd{
    width: 0.9rem;
    height: 0.9rem;
  }
  .hd_right .git:hover {
    width: 0.95rem;
    height: 0.95rem;
  }
  .hd_right .linkd:hover {
    width: 0.95rem;
    height: 0.95rem;
  }
  .footer_container {
    padding-left: 0.8rem;
  }
  .logo .reactIcon, .twitIcon, .instIcon{
    width: 1rem;
    height: 1rem;
  }
  .legal-info {
    width: 40%;
  }
}
@media screen and (max-width: 320px) {
  .navigationBar{
    width: 55%;
  }
  .hd_right .linkd{
    margin-right: 0.2rem;
  }
  .footer_container {
    height: 1.2rem;
  }
  .legal-info {
    width: 45%;
  }
}
@media screen and (max-width: 255px) {
  .legal-info {
    width: 50%;
    background-color: red;
  }
}


